* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    width: 340px;
    height: 425px;
    color: #585858;
}

.page {
    background-color: #ffffff;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
}

.page.loaded {
    transition: 0.3s left ease-in-out;
}

.page.left {
    left: -100vw;
}

.page.right {
    left: 100vw;
}

.page>.content {
    margin: 1rem;
}

p {
    margin: 1.5rem 0;
}

.row {
    display: flex;
    align-content: center;
}

.button {
    padding: 1rem;
    margin-bottom: 0.5rem;
    border-radius: 8px;
    background: #F0F0F0;
    color: #505050;
    text-align: center;
    display: flex;
    text-decoration: none;
}

.button[disabled] {
    opacity: 0.7;
    pointer-events: none;
    cursor: initial;
}

.button .material-icons {
    vertical-align: text-top;
    font-size: 18px;
    margin-right: 0.25rem;
}

.button.gradient {
    background: linear-gradient(90deg, #FA4821 0%, #AE0F56 100%);
    color: #ffffff;
}

.button-row {
    justify-content: space-between;
    margin-top: 1rem;
}

.button-row .button {
    padding: 1rem 16%;
}

h1 {
    margin-top: 2px;
    font-size: 24px;
}

h3 {
    margin-top: 1rem; 
    margin-bottom: 0.25rem; 
    font-weight: 300;
}

hr {
    margin: 1.5rem 0;
    border: none;
    border-bottom: 2px solid #F0F0F0;
}

footer {
    width: calc(100% - 2rem);
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 1rem;
    font-size: 12px;
    color: #969696;
}

footer a {
    color: #969696;
}

.settings-button {
    font-size: 32px;
    margin-left: auto;
    color: #505050;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.settings-button:hover {
    opacity: 0.9;
    transform: rotate(45deg);
}

.back-button {
    padding: 4px;
    border-radius: 50%;
    cursor: pointer;
}

.back-button:hover {
    background: rgba(0, 0, 0, 0.06);
}