.stadiaplus_button {
  margin-top: 1rem;
  box-shadow: none !important;
}
.stadiaplus_button-small {
  padding: 0.5rem 1rem;
  background-color: #3c3e43;
  color: #ffffff;
  margin: 0 0.5rem;
  border-radius: 0.25rem;
}
