
.stadiaplus_button {
    margin-top: 1rem;
    box-shadow: none !important;
}

.stadiaplus_button_small {
    padding: 0.5rem 1rem;
    background-color: #3C3E43;
    color: #ffffff;
    margin: 0 0.5rem;
    border-radius: 0.25rem;
}