.stadiaplus_dropdown {
    &.disabled {
        opacity: 0.6;
        pointer-events: none;
        cursor: default;
    }

    &.style-dark {
        &.ss-main {
            border-color: #3C3E43;
            width: auto;

            .ss-content {
                border-color: #3C3E43;

                .ss-list .ss-option {
                    background-color: #3C3E43;
                    color: rgba(255, 255, 255, 0.8);

                    &.ss-disabled {
                        background-color: #3C3E43;
                        color: rgba(255, 255, 255, 0.4);
                    }
                }
            }

            .ss-multi-selected,
            .ss-single-selected {
                background: transparent;
                border: none;
                border-bottom: #93959F 1px solid;
                border-radius: 0;
                width: 180px;

                .placeholder {
                    color: rgba(255, 255, 255, 0.8)
                }

                .ss-plus span,
                .ss-arrow span {
                    border-color: #93959F;
                }
            }
        }
    }

    &.style-light {
        &.ss-main {
            width: auto;

            .ss-multi-selected,
            .ss-single-selected {
                background: transparent;
                border: none;
                border-bottom: #cccccc 1px solid;
                border-radius: 0;
                width: 180px;

                .ss-plus span,
                .ss-arrow span {
                    border-color: #cccccc;
                }
            }
        }
    }

    &.style-slimselect-large {
        &.ss-main {
            width: 200px;
            height: 40px;

            .ss-multi-selected,
            .ss-single-selected {
                height: 100%;
            }
        }
    }
}