.stadiaplus_dropdown.ss-main .ss-multi-selected,
.stadiaplus_dropdown.ss-main .ss-single-selected {
    background: transparent;
    border: none;
    border-bottom: #93959F 1px solid;
    border-radius: 0;
    width: 180px;
}

.stadiaplus_dropdown.ss-main .ss-multi-selected .ss-plus span,
.stadiaplus_dropdown.ss-main .ss-single-selected .ss-arrow span {
    border-color: #93959F;
}

.stadiaplus_dropdown.ss-main {
    border-color: #3C3E43;
    width: auto;
}

.stadiaplus_dropdown.ss-main .ss-content {
    border-color: #3C3E43;
}

.stadiaplus_dropdown.ss-main .ss-multi-selected .placeholder,
.stadiaplus_dropdown.ss-main .ss-single-selected .placeholder {
    color: rgba(255, 255, 255, 0.8)
}

.stadiaplus_dropdown.ss-main .ss-content .ss-list .ss-option {
    background-color: #3C3E43;
    color: rgba(255, 255, 255, 0.8)
}

.stadiaplus_dropdown.ss-main .ss-content .ss-list .ss-option.ss-disabled {
    background-color: #3C3E43;
    color: rgba(255, 255, 255, 0.4);
}