:root {
    /* BORDERS */
    --border-radius-sm: 0.125rem;
    --border-radius-md: 0.25rem;
    --border-radius-lg: 0.5rem;
    --border-radius-full: 999px;

    /* TEXT */
    --font-size-xs: 0.75rem;
    --font-size-sm: 1rem;
    --font-size-base: 1.125rem;
    --font-size-md: 1.25rem;
    --font-size-lg: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-2xl: 2.5rem;
    --font-size-3xl: 3rem;
    --font-size-4xl: 3.5rem;
    --font-size-5xl: 4rem;

    --line-height-none: 1;
    --line-height-sm: 1.25;
    --line-height-md: 1.5;
    --line-height-lg: 1.625;
    --line-height-xl: 2;

    --font-weight-thin: 200;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    --font-family-primary: Overpass, sans-serif;


    /* COLORS */
    --color-neon-tomato: #F85536;
    --color-neon-cherry: #EE3879;
    --color-neon-gradient: linear-gradient(90deg, var(--color-neon-tomato), var(--color-neon-cherry));

    --color-white: #FFFFFF;
    --color-gray-400: #BFBFBF;
    --color-gray-500: #969696;
    --color-gray-700: #3E4044;
    --color-gray-800: #28292C;
    --color-gray-900: #202124;
    --color-black: #000000;

    --color-green-500: #15C18E;
    --color-red-500: #15C18E;
    --color-yellow-500: #FAC94C;

    --color-elevate-100: rgba(255, 255, 255, 0.06);
    --color-elevate-200: rgba(255, 255, 255, 0.12);
    --color-elevate-300: rgba(255, 255, 255, 0.18);

    --color-icon-white: #E8EAED;

    /* TRANSITIONS */
    --transition-default: 0.125s ease-out;
}