{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "macros",
    "@babel/plugin-syntax-object-rest-spread",
    "tailwind-components"
  ]
}