* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    height: 350px;
}

.container {
    position: relative;
    padding: .5rem;
    min-width: 250px;
    height: auto;
    background: #ffffff;
    height: 350px;
    overflow-x: hidden;
}

hr {
    margin: 1rem 0;
    opacity: 0.5;
}

a.btn {
    padding: .5rem 1.5rem;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #000000;
    background-color: hsl(0, 0%, 85%);
    border-radius: .25rem;
    transition: 0.15s background-color ease-in-out;
}

a.btn:active {
    transition: 0.05s background-color ease-in-out;
    background-color: hsl(0, 0%, 70%);
}

.page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(110%);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.page.active.animate {
    transform: translateX(0);
    z-index: 3;
}

.page.active.animate {
    transition: transform 0.2s ease-out;
}

.page.inactive {
    transition: transform 0.3s ease-out;
    transform: translateX(110%);
}

.btn-small {
    display: inline-flex;
    align-items: center;
    margin: 0 0.5rem;
    /* background-color: hsl(0, 0%, 75%); */
    
    border-radius: 0.25rem;
    color: hsl(0, 0%, 70%);
    text-decoration: none;
}

.btn-small:active {
    /* background-color: hsl(0, 0%, 85%); */
}

.material-icons.icon-small {
    font-size: .75em;
}

.material-icons.icon-medium {
    font-size: 1em;
}

.material-icons.icon-large {
    font-size: 1.5em;
}

.material-icons.icon-xlarge {
    font-size: 2em;
}

.page-help-network p {
    margin-bottom: 10px;
}

h1 .header-img {
    height: 1em;
    margin: 0 0.5rem;
}

h1 {
    display: flex;
    align-items: center;
}