* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    width: 300px;
}

header {
    padding: 0.5rem 0;
    background: linear-gradient(45deg, #FF4C1D, #9B0063);
}

header>.container {
    margin: 0.5rem auto;
    display: flex;
    align-items: center;
}

header h1 {
    color: #FFFFFF;
    margin: 0;
}

.container {
    margin: 1rem auto;
    width: 100%;
    max-width: 250px;
}

.logo {
    height: 48px;
    margin-right: 1rem;
}

h1 {
    margin-bottom: 0.5rem;
}

p {
    font-size: 14px;
}

hr {
    border: none;
    border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
    margin: 1rem 0;
}