/**
 *  Generic Component Styles
 */

.stadiaplus_clock {
    font-size: 2.5rem;
    padding: 1rem 1.5rem;
    font-weight: 300;
}

.stadiaplus_filterbar {
    background-color: #303236;
    padding: 0.5rem;
    border-radius: 0.6rem;
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    box-shadow: 0 0.125rem 0.75rem rgba(0,0,0,0.32), 0 0.0625rem 0.375rem rgba(0,0,0,0.18);
}

.stadiaplus_overlay {
    position: fixed;
    opacity: 0.9;
    z-index: 999;
    width: 240px;
    background-color: rgba(0,0,0,0.4);
    padding: 1rem;
}

.stadiaplus_button {
    margin-top: 1rem;
    box-shadow: none !important;
}

.stadiaplus_button_small {
    padding: 0.5rem 1rem;
    background-color: #3C3E43;
    color: #ffffff;
    margin: 0 0.5rem;
    border-radius: 0.25rem;
}

.stadiaplus_muted {
    opacity: 0.5;
}

.stadiaplus_force_codec {
    margin-top: 1rem;
    text-align: center;
}

.stadiaplus_row {
    display: inline-flex;
    align-items: flex-end;
}

.stadiaplus_store_game {
    display: inline-flex;
    flex-direction: column;
    width: 250px;
    margin: 0.5rem;
    margin-bottom: 1rem;
    position: relative;
    box-shadow: inset 0 0 5 red;
    height: 150px;
}

.stadiaplus_crumb {
    border-radius: 1em;
    border: #ffffff solid 2px;
    padding: 0 0.3em;
    margin: 0.1em;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.1);
    display: inline-block;
}

.stadiaplus_storefilter {
    display: block;
}




/**
 *  Specific Component Styles
 */

 .stadiaplus_overlay.top {  
    top: 0;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}
.stadiaplus_overlay.bottom {
    bottom: 0;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
.stadiaplus_overlay.left {
    left: 0;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.stadiaplus_overlay.right {
    right: 0;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.stadiaplus_force_codec p {
    margin-block-end: 0.5rem;
}

.stadiaplus_overlay hr {
    border-bottom: 1px solid rgb(255,255,255);
}

.stadiaplus_filterbar .stadiaplus_dropdown {
    display: block;
    padding: 0.5rem;
}

.stadiaplus_storefilter .games {
    text-align: left;
}
.stadiaplus_store_game.hidden {
    display: none;
}

.stadiaplus_store_game .vignette {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0.5rem;
    width: 100%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.32) 0px 0.125rem 0.75rem, rgba(0, 0, 0, 0.18) 0px 0.0625rem 0.375rem, rgba(0, 0, 0, 0.5) 0px 0px 6rem inset;
    transition: box-shadow 0.25s ease-in-out;
}

.stadiaplus_store_game:hover .vignette {
    box-shadow: rgba(0, 0, 0, 0.32) 0px 0.5rem 0.75rem, rgba(0, 0, 0, 0.18) 0px 0.0625rem 0.375rem, rgba(0, 0, 0, 0.7) 0px 0px 10rem inset;
}

.stadiaplus_store_game h5 {
    color: #ffffff;
    margin-bottom: 0.1rem;
}

.stadiaplus_store_game .content {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0.5rem;
}

.stadiaplus_store_game img {
    border-radius: 0.5rem;
    height: 100%;
    object-fit: cover;
}

.stadiaplus_store_game .crumbs {
    overflow: hidden;
    transition: max-height 0.25s ease-out;
}

.stadiaplus_storefilter .nav {
    display: flex;
    padding: 0.5rem;
}
.stadiaplus_storefilter .search {
    display: flex;
    max-height: 40px;
}

.stadiaplus_storefilter .nav input {
    padding: 0.5rem;
    background-color: rgba(255, 255, 255, 0.06);
    font-family: 'Google Sans',sans-serif;
    font-size: 1.25rem;
    outline: #ff773d 3px;
    color: #ffffff;
    font-weight: 500;
    border: none;
    border-radius: 0.25rem;
}




/**
 *  Icon Styles
 */
 
.stadiaplus_icon_visibility {
    position: absolute;
    right: 0px;
    bottom: 0px;
    padding: 0.5rem 0.75rem;
    height: 32px;
    color: #FFFFFF;
    opacity: 0.5;
    z-index: 1;
    transform: translate(-100%, -100%);
}

.stadiaplus_icon_visibility:hover {
    cursor: pointer;
    opacity: 1;
}


.stadiaplus_icon_filter {
    padding: 0 1rem;
}

.stadiaplus_show-all {
    padding: 0 1rem;
    margin-left: auto;
    opacity: 0.7;
}

.stadiaplus_show-all {
    padding: initial;
    margin-left: auto;
    opacity: 0.7;
}

.stadiaplus_show-all:hover {
    cursor: pointer;
    opacity: 1;
}

.stadiaplus_icon_search {
    margin: auto 0;
    padding-right: 1rem;
    padding-left: 0.4rem;
    height: 24px;
    opacity: 0.5;
}

.stadiaplus_icon_search.focus {
    opacity: 1;
}




/**
 *  CSS Overrides
 */

.stadiaplus_icon_sun.enabled:hover {
    cursor: pointer;
    opacity: 1;
}

.stadiaplus_dropdown .ss-main .ss-multi-selected,
.stadiaplus_dropdown .ss-main .ss-single-selected {
    background: transparent;
    border: none;
    border-bottom: #93959F 1px solid;
    border-radius: 0;
    width: 180px;
}

.stadiaplus_dropdown .ss-main .ss-multi-selected .ss-plus span,
.stadiaplus_dropdown .ss-main .ss-single-selected .ss-arrow span {
    border-color: #93959F;
}

.stadiaplus_dropdown .ss-main {
    border-color: #3C3E43;
    width: auto;
}

.stadiaplus_dropdown .ss-main .ss-content {
    border-color: #3C3E43;
}

.stadiaplus_dropdown .ss-main .ss-multi-selected .placeholder,
.stadiaplus_dropdown .ss-main .ss-single-selected .placeholder {
    color: rgba(255, 255, 255, 0.8)
}

.stadiaplus_dropdown .ss-main .ss-content .ss-list .ss-option {
    background-color: #3C3E43;
    color: rgba(255, 255, 255, 0.8)
}

.stadiaplus_dropdown .ss-main .ss-content .ss-list .ss-option.ss-disabled {
    background-color: #3C3E43;
    color: rgba(255, 255, 255, 0.4);
}

html body .GqLi4d.QAAyWd {
    box-shadow: 0 0.125rem 0.75rem rgba(0,0,0,0.32), 0 0.0625rem 0.375rem rgba(0,0,0,0.18), inset 0 0 5rem rgba(0,0,0,0.5);
}

html body .dSGvzf {
    margin: 0 1rem;
}

html body .CVVXfc {
    flex-direction: column;
    align-items: initial;
}

#codec-dropdown {
    margin: 0 
}

#tag-dropdown .ss-values .ss-disabled {
    font-family: "Google Sans", sans-serif;
    font-size: 1.25rem;
}

#tag-dropdown {
    padding: 0 0.5rem;
    margin: 0 0.5rem;
}

#tag-dropdown .ss-main,
#tag-dropdown .ss-multi-selected {
    height: 100%;
    min-width: 200px;
}

#tag-dropdown .ss-main {
    height: 100%;
}

#tag-dropdown .ss-add {
    margin: 15px 12px 0px 5px;
}

#tag-dropdown .ss-value {
    font-size: 1rem;
    height: 1em;
    border-radius: 1em;
    background: transparent;
    border: #ffffff solid 1px;
    padding-bottom: 4px;
    align-self: center;
}

hr {
    border: none;
    border-bottom: 1px solid rgba(255,255,255,.06);
}

::-webkit-scrollbar {
    background-color: rgb(70, 72, 77);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(80, 82, 87) !important;
}