.GqLi4d {
    filter: brightness(0.9) contrast(1.1); // This is mostly to make sure that the eye icons in the library can be seen.
}

html body .dSGvzf {
    margin: 0 1rem;
}

html body .CVVXfc {
    flex-direction: column;
    align-items: initial;
}

hr {
    border: none;
    border-bottom: 1px solid rgba(255,255,255,.06);
}

::-webkit-scrollbar {
    background-color: rgb(70, 72, 77);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(80, 82, 87) !important;
}