.stadiaplus_libraryfilter-wrapper {
    opacity: 1;
    transform: scale(1.0);
    transition: transform 0.5s cubic-bezier(0.75, 0, 0.25, 1.0), opacity 0.5s cubic-bezier(0.75, 0, 0.25, 1.0);

    &.closing {
        transform: scale(0.5);
        opacity: 0;
    }

    &.closed {
        display: none;
        opacity: 0;
    }

    .stadiaplus_libraryfilter-icon-wrapper {
        position: absolute;
        display: inline-block;
        z-index: 4;
        border-top-right-radius: 8px;
        border-bottom-left-radius: 32px;
        background-color: #393a3c;
        transition: transform .23s cubic-bezier(0.35,0,0.15,1);
    }

    .stadiaplus_libraryfilter-icon {
        font-family: 'Material Icons Extended';
        font-size: 32px;
        z-index: 4;
        padding: 16px;
        cursor: pointer;
    }

    &:hover {
        .stadiaplus_libraryfilter-icon-wrapper {
            transform: scale(1.015);

            // Scale back to normal size if the icon itself is hovered over
            &:hover {
                transform: scale(1);
            }
        }
    }
}

.stadiaplus_libraryfilter-bar {
    background-color: #303236;
    padding: 8px 16px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin-top: 8px;
    box-shadow: 0 0.125rem 0.75rem rgba(0,0,0,0.32), 0 0.0625rem 0.375rem rgba(0,0,0,0.18);

    .stadiaplus_dropdown {
        display: block;
        padding: 0.5rem;
    }
    
    .stadiaplus_filterbar-checkbox {
        margin-left: auto;
    }

    .stadiaplus_filterbar-direction {
        transition: transform 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
        border-radius: 50%;
        padding: 2px;
        cursor: pointer;

        &::after {
            content: 'arrow_drop_down';
        }

        &:hover {
            background-color: rgba(255, 255, 255, 0.05);
        }

        &:active {
            background-color: rgba(255, 255, 255, 0.1);
        }

        &.ascending {
            transform: rotate(0deg);
        }

        &.descending {
            transform: rotate(180deg);
        }
    }
}