$breakpoint-xs: 416px;
$breakpoint-s: 640px;
$breakpoint-sd: 768px;
$breakpoint-hd: 1024px;
$breakpoint-m: 1200px;
$breakpoint-l: 1440px;
$breakpoint-xl: 1600px;
$breakpoint-xxl: 1800px;
$breakpoint-fhd: 1920px;
$breakpoint-uhd: 2560px;

.iadg4b {
    margin: 0 auto;

    @media screen and (max-width: $breakpoint-s) {
        margin: 0 0.75rem;
    }
    @media screen and (min-width: $breakpoint-s) {
        max-width: 620px;
    }
    @media screen and (min-width: $breakpoint-sd) {
        max-width: 740px;
    }
    @media screen and (min-width: $breakpoint-hd) {
        max-width: 1000px;
    }
    @media screen and (min-width: $breakpoint-m) {
        max-width: 1160px;
    }
    @media screen and (min-width: $breakpoint-l) {
        max-width: 1360px;
    }
    @media screen and (min-width: $breakpoint-xl) {
        max-width: 1480px;
    }
    @media screen and (min-width: $breakpoint-xxl) {
        max-width: 1660px;
    }
    @media screen and (min-width: $breakpoint-fhd) {
        max-width: 1800px;
    }
    @media screen and (min-width: $breakpoint-uhd) {
        max-width: 2360px;
    }
}

.stadiaplus_libraryfilter-captures {
    position: absolute;
    pointer-events: none;
    cursor: initial;
    opacity: 0;
    bottom: 0;
    width: 500px;
    padding: 1.5rem;
    padding-bottom: 0;
    background-color: #2a2b2e;
    box-shadow: 0 0.25rem 2.5rem rgba(0,0,0,0.30), 0 0.125rem 0.75rem rgba(0,0,0,0.4);
    transition: transform 0.2s ease-out, opacity 0.2s ease-out;
    transform: translateY(calc(100% - 0.5rem));
    border-radius: 0.5rem;

    h2 {
        font-family: 'Roboto',sans-serif;
        margin-bottom: 1rem;
        font-size: 1.25rem;
        line-height: 2rem;
        font-weight: 400;
        color: rgba(255,255,255,.9);
    }

    &.open {
        opacity: 1;
        transform: translateY(calc(100% + 0.25rem));
        pointer-events: all;
    }

    .stadiaplus_libraryfilter-captures-previews {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .stadiaplus_libraryfilter-captures-view-all {
            width: 232px;
            height: 130px;
            margin-bottom: 1.5rem;
            border-radius: .5rem;
            cursor: pointer;
            background-color: rgba(255, 255, 255, 0.06);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: #ffffff;

            transition: transform 0.15s ease-out;
            &:hover {
                transform: scale(1.025);
            }

            .material-icons-extended {
                font-size: 48px;
                color: rgba(255, 255, 255, 0.24);
            }

            p {
                margin: 0;
            }
        }

        .stadiaplus_libraryfilter-captures-preview {
            position: relative;
            width: 232px;
            height: 130px;
            margin-bottom: 1.5rem;
            border-radius: .5rem;
            cursor: pointer;
            background-size: cover;
            background-position: center;
            transition: transform 0.15s ease-out;

            &.video {
                &::before {
                    content: 'play_arrow';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-family: 'Material Icons Extended';
                    font-size: 36px;
                    color: #ffffff;
                    padding: .5rem;
                    border-radius: 50%;
                    background-color: rgba(0, 0, 0, 0.6);
                }
            }

            &:hover {
                transform: scale(1.025);

                &::after {
                    opacity: .5;
                }
            }

            &::after {
                content: '';
                transition: opacity 0.15s ease-out;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%);
                border-radius: .5rem;
                position: absolute;
                opacity: 1;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }
}

.stadiaplus_libraryfilter-bar {
    margin-top: 2rem;
    height: 100px;
    display: flex;
    align-items: center;

    overflow-x: hidden;
    
    .bar-dropdowns {
        display: flex;
        width: 300px;

        transition: margin-left 0.2s ease-out;

        @media screen and (max-width: $breakpoint-hd - 1) {
            margin-left: -300px;
        }
    }

    .bar-item {
        margin-right: 2rem;
        position: relative;
        cursor: pointer;
        pointer-events: all;    

        >h6 {
            display: inline-block;
            pointer-events: none;
            
            ~.material-icons-extended {
                display: inline-block;
                vertical-align: text-bottom;
            }
        }

        &.searchcolumn-toggle {
            margin: 0.75rem;

            @media screen and (min-width: $breakpoint-hd) {
                display: none;
            }

            .material-icons-extended {
                padding-right: 0;

                transition: transform 0.2s ease-out;

                &.searchcolumn-toggle-icon-back
                {
                    margin-left: -1em;

                    transform: rotateY(-90deg);
                }
            }
        }
    }
}

.stadiaplus_libraryfilter-button {
    display: flex;
    cursor: pointer;
    pointer-events: all;
    align-items: center;
    background: #2D2E31;
    border-radius: 999px;
    border: none;
    font-size: 18px;
    padding: 0.75rem 1.5rem;
    margin-left: 1.5rem;
    color: #ffffff;

    &.hold {
        transition: transition 0.1s ease-out;
        transform: scale(0.95);
    }

    &.active {
        transition: background 0.06s ease-out;
        background: #FA4821;
    }

    .material-icons-extended {
        font-size: 20px;
        padding-right: 0.5rem;
    }
}

.stadiaplus_libraryfilter-tooltip {
    background: #2D2E31;
    box-shadow: 0 0.25rem 2.5rem rgba(0,0,0,0.30), 0 0.125rem 0.75rem rgba(0,0,0,0.4);
    padding: 1rem;
    border-radius: 0.5rem;
    margin-left: -0.5rem;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(calc(-50% - 0.5rem)) translateX(calc(100% + 1rem));
    opacity: 0;
    transition: opacity 0.2s cubic-bezier(0, 0, 0.2, 1), transform 0.2s cubic-bezier(0, 0, 0.2, 1);
    pointer-events: none;
    cursor: initial;
    z-index: 1;

    &.open {
        pointer-events: all;
        opacity: 1;
        transform: translateY(-50%) translateX(calc(100% + 1rem));
    }
    
    .material-icons-extended {
        vertical-align: text-bottom;
    }

    .close::after {
        content: 'close';
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 0;
        font-family: "Material Icons Extended";
        opacity: 0.5;
        padding: 1rem;
    }

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        width: 1rem;
        height: 1rem;
        z-index: 0;
        transform: translate(-50%, -50%) rotate(45deg);
        background: inherit;
    }
}


.stadiaplus_libraryfilter-dropdown {
    background: #2D2E31;
    box-shadow: 0 0.25rem 2.5rem rgba(0,0,0,0.30), 0 0.125rem 0.75rem rgba(0,0,0,0.4);
    padding: .5rem 1rem;
    border-radius: 0.5rem;
    margin-left: -0.5rem;
    position: absolute;
    transform: translateY(-0.5rem) translateZ(-1px);
    opacity: 0;
    transition: opacity 0.2s cubic-bezier(0, 0, 0.2, 1), transform 0.2s cubic-bezier(0, 0, 0.2, 1);
    pointer-events: none;
    width: max-content;
    z-index: 2;

    &.selected {
        pointer-events: all;
        opacity: 1;
        transform: translateY(0);
    }

    >* {
        padding: 0.5rem 0;
    }
}

.stadiaplus_libraryfilter {
    pointer-events: initial;
    display: flex;

    position: relative;
    overflow-x: hidden;

    .stadiaplus_libraryfilter-searchcolumn {
        width: 300px;
        border-radius: 0.5rem;
        background: #2D2E31;
        padding: .5rem;
        box-sizing: border-box;
        box-shadow: 0 0.125rem 0.75rem rgba(0,0,0,0.32), 0 0.0625rem 0.375rem rgba(0,0,0,0.18);

        white-space: nowrap;
        overflow: hidden;

        @media screen and (max-width: $breakpoint-hd - 1) {
            position: absolute;
            z-index: 1;
            left: calc(-300px - 0.75rem);
            transition: left 0.2s ease-out;
        }

        .stadiaplus_libraryfilter-searchcolumn-bar {
            display: flex;
            align-content: center;
            width: 100%;
            height: 45px;
            border-radius: .5rem;
            padding: .5rem;
            box-sizing: border-box;
            background: rgba(255, 255, 255, 0.06);

            input {
                height: 100%;
                width: 100%;
                color: #FFFFFF;
                font-size: 18px;
                background: none;
                border: none;
                outline: none;
                box-sizing: border-box;
                padding-left: 0.5rem;
            }
        }

        .stadiaplus_libraryfilter-listgame {
            cursor: pointer;

            &.hidden {
                display: none;
            }

            h6 {
                color: rgba(255, 255, 255, 0.5);
                margin-left: 0.5rem;
                transition: color 0.2s ease-out;
                overflow: hidden;
                text-overflow: ellipsis;

                .material-icons-extended {
                    vertical-align: text-bottom;
                    transition: opacity 0.3s ease-out, margin-left 0.2s ease-out, transform 0.2s ease-out;
                    margin-left: -1rem;
                    transform: scale(0.5);
                    margin-right: 0.25rem;
                    opacity: 0;
                }
            }

            &:hover {
                h6 {
                    color: #FFFFFF;

                    .material-icons-extended {
                        margin-left: 0rem;
                        opacity: 1;
                        transform: scale(1);
                    }
                }
            }
        }
    }
    
    .stadiaplus_libraryfilter-gamecontainer {
        width: calc(100% - 300px);
        height: max-content;

        @media screen and (max-width: $breakpoint-hd - 1) {
            width: 100%;
        }
        
        .stadiaplus_libraryfilter-game {
            display: inline-flex;
            position: relative;

            width: calc(25% - 1.5rem);
            height: 32vh;
            max-height: 20vw;
            
            margin-left: 1.5rem;
            margin-bottom: 1.5rem;
            border-radius: 0.5rem;

            box-shadow: 0 0.125rem 0.75rem rgba(0,0,0,0.32), 0 0.0625rem 0.375rem rgba(0,0,0,0.18);

            background-color: rgba(255, 255, 255, 0.06);
            background-position: center center;
            background-size: 210%;
            transition: background-size 0.5s cubic-bezier(0, 0, 0.2, 1), transform 0.2s ease-out;
            transform: scale(1);
            cursor: pointer;
            
            @media screen and (min-width: $breakpoint-s) {
                width: calc(33.32% - 1rem);
                
                margin-left: 1rem;
            }
            @media screen and (min-width: $breakpoint-xs) {
                width: calc(33.32% - 0.75rem);
                
                margin-left: 0.75rem;
            }
            @media screen and (max-width: $breakpoint-m - 1) and (min-width: $breakpoint-hd) {
                width: calc(33.32% - 1.5rem);
            }
            @media screen and (min-width: $breakpoint-fhd) {
                width: calc(20% - 1.5rem);
            }
            @media screen and (min-width: $breakpoint-uhd) {
                width: calc(16.66% - 1.5rem);
            }

            &:nth-last-child(-1n+4) {
                margin-bottom: 0;
            }

            &.hidden {
                display: none;
            }

            .play-button {
                position: fixed;
                left: 50%;
                top: 50%;
                width: 100px;
                height: 100px;
                background-size: cover;
                transition: width 0.5s ease-out, height 0.5s ease-out, opacity 1.0s cubic-bezier(0, 0, 0, 1);
                transform: translate(-50%, -50%) rotate(-500deg);
                opacity: 0;
            }

            .play-icon {
                position: fixed;
                left: 50%;
                top: 50%;
                width: 90px;
                height: 90px;
                transform: translate(-50%, -50%);
                transition: transform 0.5s ease-out, opacity 2.0s cubic-bezier(0, 0, 0, 1);
                opacity: 0;
            }

            .more-icon {
                position: absolute;
                right: 0;
                top: 0;
                padding: 0.25rem;
                z-index: 1;

                .material-icons-extended {
                    font-size: 28px !important;
                }
            }

            &:hover, &:focus, &:focus-within, &.selected {
                background-size: auto 130% !important;
                transition: background-size 4.0s cubic-bezier(0, 0, 0.2, 1), transform 0.3s ease-out;
                transform: scale(1.05);
                
                &::before,
                .content {
                    opacity: 0;
                }

                .play-button {
                    transition: width 0.5s ease-out, height 0.5s ease-out, transform 10.0s ease-out, opacity 1.0s cubic-bezier(0, 0, 0, 1);
                    width: 110px;
                    height: 110px;
                    transform: translate(-50%, -50%) rotate(0);
                    opacity: 1;
                }

                .play-icon {
                    transform: translate(-50%, -50%) scale(1.2);
                    opacity: 1;
                }
            }

            &:hover {
                z-index: 1;
            }

            &.selected {
                z-index: 2;
            }

            &::before {
                content: '';
                opacity: 1;
                transition: opacity 0.5s cubic-bezier(0, 0, 0.2, 1);
                z-index: 0;
                pointer-events: none;
                position: absolute;
                width: 100%;
                height: 100%;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.25) 100%);
                border-radius: inherit;
            }

            .content {
                transition: opacity 0.5s cubic-bezier(0, 0, 0.2, 1);
                z-index: 1;
                padding: 0.5rem;
                display: flex;
                justify-content: flex-end;
                flex-direction: column;

                white-space: nowrap;
                overflow: hidden;

                h6 {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }
}

.stadiaplus_libraryfilter-wrapper {
    &.searchcolumn-shown {
        @media screen and (max-width: $breakpoint-hd - 1) {
            .stadiaplus_libraryfilter-searchcolumn {
                left: 0;
            }

            .stadiaplus_libraryfilter-bar {
                .bar-dropdowns {
                    margin-left: 0;
                }
                .searchcolumn-toggle {
                    .material-icons-extended
                    {
                        &.searchcolumn-toggle-icon-search
                        {
                            transform: rotateY(90deg);
                        }
                        &.searchcolumn-toggle-icon-back
                        {
                            transform: rotateY(0deg);
                        }
                    }
                }
            }
        }
    }
}