.stadiaplus_lookingforgroup-groups {
    background-color: rgba(255,255,255,.12);
    padding: .5rem;

    .refresh {
        float: right;
        font-size: 36px;
        color: #ffffff;
    }

    .group-list {
        margin-top: .5rem;
        display: block;
    }
}