.stadiaplus_networkmonitor {
    position: absolute;
    width: 250px;
    top: 0;
    left: 0;
    z-index: 150;
    padding: 1rem;
    background-color: rgba(0,0,0,0.4);

    * {
        user-select: none;
    }

    ul {
        list-style-type: none;
        padding-inline-start: 0;
        margin-block-start: 0;
        margin-block-end: 0;
    }

    &.editable {
        z-index: 300;
        cursor: move;
    }
}

.stadiaplus_networkmonitor-tab {
    ul {
        list-style-type: none;
        padding-inline-start: 1rem;
        margin-block-start: 0;
        margin-block-end: 0;
    }
}

.stadiaplus_networkmonitor-checkbox {
    margin: 0.4rem 0;
}